# Input files
*.pdf

# Intermediate files used in processing
*.txt
!requirements.txt

# Spreadsheets and temp files associated with them
*.xls*
*.xlk

# Virtual environment
venv

# Editors
.vscode
.idea

# Other
.DS_Store

